body {
  background-color:#abefd8;
  background-size:cover;
  background-repeat: repeat;
  background-position: center center;
}
.header{
  margin-left: -2%;
  position: fixed;
  border-radius:10px;
    bottom: 0;
    width: 100%;
    height: 6%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}
.nav{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}
.nav:hover {
    background-color: #eeeeee;
}

.active_nav{
    color: #009578;
}
.nav__icon {
  font-size: 18px;
}
h3{
  color: lime;
  background-color: #ff08a8;
  border-radius: 5px;
}
h4{
  color: #ff08a8;
  background-color: lime;
  border-radius: 5px;
}
h5{
  color:#e60000;
}
.icons {
  text-align: center;
  width: device-width;
}
