

body {
  background-color:#abefd8;
  width: device-width;
  height: auto;
}
.header{
  background-image: url('../img/header-bg.jpg');
  display: grid;
  grid-template-columns: 23% 22% 22% 21%;
  grid-column-gap: 4%;
  text-align: center;
  width: device-width;
}
#nav1{
  text-decoration: none;
  color: lime;
  border: solid 2px green;
  border-radius: 5px;
  background-color: #ff007e;
}
#nav2{
  color: red;
  text-decoration: none;
  border:solid 2px green;
  border-radius: 5px;
}
#nav3{
  color: red;
  text-decoration: none;
  border:solid 2px green;
  border-radius: 5px;
}
#nav4{
  color: red;
  text-decoration: none;
  border:solid 2px green;
  border-radius: 5px;
}
.h1no1 {
  text-decoration-line: underline;
}
.container {
  border-radius: 10px;
  color: #f63c87;
  background-color:lime;
  height: auto;
  padding: 2px 10px;
}
.icons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  width: device-width;
}
.profile1{
  display: grid;
  grid-template-columns: 20% 40% 20%;
  grid-column-gap: 10%;
}
.profile1 img {
  border: 1px solid lime;
  border-radius: 10px;
  width: 100%;
} 


h4{
  text-align: center;
  color: #f7b42d;
}
.me{
  background-image: url('../img/subscribe-bg.png');
  border-radius: 10px;
}
p1{
  text-align: center;
  color: #abdd18;
  word-spacing: 4px;
  letter-spacing: 1px;
}
iframe{
  margin-left: 5%;
  border: solid red;
  border-radius: 10px;
}
.achievement img{
  width: 100%;
  height: auto;
}
#end{
  margin-left: 40%;
  text-align: center;
  height: auto;
  width: 20%;
  color:#e60000;
  border: 2px solid lime;
  border-radius: 5px;
}
